<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{/js/popper-2.11.8.min_npmjs.com.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <link th:href="@{/font/bootstrap-icons-1.11.3.css}" rel="stylesheet">

        <title>Edit the post</title>
    </head>
    <body>
        <div class="container-fluid p-0">
            <header th:insert="~{blocks/header :: header}"></header>

            <div class="container pt-5 pb-5">
                <form class="pt-4 pb-4" th:action="@{/posts/post/{id}/edit (id=${post.id})}" method="post"
                      th:object="${post}" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="*{id}">
                    <input type="hidden" name="fileId" th:value="*{fileId}">
                    <div class="row mb-3">
                        <div class="col-3">
                            <span th:if="${post.fileId!=0}">
                                <img th:src="@{/files/{fileId}(fileId=*{fileId})}" class="w-100" alt="Car's photo">
                            </span>
                        </div>
                        <div class="col-9">
                            <div class="mb-3">
                                <label for="name" class="form-label"><b>Car</b></label>
                                <input type="text" class="form-control" id="name" name="name" th:value="*{car.name}"
                                       placeholder="Car brand and model" required>
                            </div>
                            <div class="mb-3">
                                <label for="vin" class="form-label"><b>VIN</b></label>
                                <input type="text" class="form-control" id="vin" name="vin" th:value="*{car.vin}"
                                       placeholder="VIN of car" required>
                            </div>
                            <div class="mb-3">
                                <label for="formFile"><b>Photo</b></label>
                                <input class="form-control form-control-sm w-100" type="file" id="formFile"
                                       name="file">
                            </div>
                            <div class="mb-3">
                                <label for="carBodyId"><b>Car Body</b></label>
                                <select class="form-control" id="carBodyId" name="carBodyId">
                                    <option th:each="carBody : ${carBodies}" th:value="${carBody.id}"
                                            th:text="${carBody.name}" th:selected="${carBody.id==post.car.carBody.id}">
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="engineId"><b>Engine</b></label>
                                <select class="form-control" id="engineId" name="engineId">
                                    <option th:each="engine : ${engines}" th:value="${engine.id}"
                                            th:text="${engine.name}"th:selected="${engine.id==post.car.engine.id}">
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label"><b>Price</b></label>
                                <input type="text" class="form-control" id="price" name="price"
                                       th:value="*{car.price[__${post.car.price.size() - 1}__].priceAfter}"
                                       placeholder="Set price" required>
                            </div>
                            <div class="mb-3">
                                <label for="ownershipYear" class="form-label"><b>Ownership from</b></label>
                                <input type="text" class="form-control" id="ownershipYear" name="ownershipYear"
                                       th:value="${ownershipYear}" placeholder="Write the year of ownership" required>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label"><b>Description</b></label>
                                <textarea class="form-control" id="description" name="description"
                                          th:field="*{description}" rows="7"
                                          placeholder="Write a post details" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-primary w-100" type="submit">Save</button>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-danger w-100" th:href="@{/posts/all}">Cancel</a></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <footer th:insert="~{blocks/footer :: footer}"></footer>
        </div>
    </body>
</html>
